#statusBox.alert {
    margin-bottom: 0;
}

.alert .fas {
    display: table-cell;
}

.alert div,
.alert span {
    padding-left: 10px;
    display: table-cell;
}

textarea#labelText {
    resize: none;
}

.roundPreviewImage {
    border-radius: 100%;
}

label {
    font-weight: 700;
}

.navbar {
    margin-bottom: 40px;
}

.btn-link {
    color: inherit;
}

.card {
    margin-bottom: 10px;
}

#previewImg {
    border: 1px solid #ced4da;
    max-height: 350px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 10px auto;
}